'' Base16 {{ scheme-name }} color 
'' Author: {{ scheme-author }}
'' to be use in your PlantUML theme

!$BASE00 = "#{{base00-hex}}"  ' ----
!$BASE01 = "#{{base01-hex}}"  ' ---
!$BASE02 = "#{{base02-hex}}"  ' --
!$BASE03 = "#{{base03-hex}}"  ' -
!$BASE04 = "#{{base04-hex}}"  ' +
!$BASE05 = "#{{base05-hex}}"  ' ++
!$BASE06 = "#{{base06-hex}}"  ' +++
!$BASE07 = "#{{base07-hex}}"  ' ++++
!$BASE08 = "#{{base08-hex}}"  ' red
!$BASE09 = "#{{base09-hex}}"  ' orange
!$BASE0A = "#{{base0A-hex}}"  ' yellow
!$BASE0B = "#{{base0B-hex}}"  ' green
!$BASE0C = "#{{base0C-hex}}"  ' aqua/cyan
!$BASE0D = "#{{base0D-hex}}"  ' blue
!$BASE0E = "#{{base0E-hex}}"  ' purple
!$BASE0F = "#{{base0F-hex}}"  ' brown